* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #000000;
  font-family: serif, "MS Pゴシック", sans-serif;
}

.contener1 {
  background-color: #eceff1;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

p {
  font-size: 16px;
  margin: 0;
}

.heading {
  font-family: "Franklin Gothic Medium";
  font-size: 32px;
  margin: 0;
}

.line {
  margin-top: 8px;
}

hr {
  border: solid;
  width: 70px;
  height: 3px;
  color: #ec715f;
  margin: 0;
}

i {
  font-size: 60px;
}

.describe {
  margin: 30px;
  text-align: center;
}

/*---header---*/

header {
  background-color: #ec715f;
  width: 100%;
  height: 70px;
  text-align: center;
}

.header_flex {
  display: flex;
  text-align: center;
  width: 1024px;
  height: 70px;
  line-height: 70px;
  margin: 0 auto;
}

.logo_img {
  display: flex;
  width: auto;
  height: 70px;
}

nav {
  text-align: center;
  width: 1024px;
  height: 70px;
  line-height: 70px;
  margin: 0 auto;
}

.nav-list {
  line-height: 70px;
  margin: 0;
  text-align: right;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  font-size: 16px;
  margin: auto 30px;
}

/*---main-visual---*/

.main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: 100% 650px;
  background-position: center;
}

.main-visual-content {
  text-align: center;
  height: 650px;
  text-align: center;
  padding-top: 200px;
}

.main-visual-name {
  font-size: 64px;
  color: #fafafa;
  font-family: "Arial";
  font-weight: bold;
  margin-bottom: 10px;
}

.main-visual-text {
  font-size: 20px;
  color: #fafafa;
}

/*---portfolio---*/

#portfolio {
  width: 920px;
  display: flex;
  justify-content: center; /* 要素の横並び・中央寄せ */
  margin: 0 auto; /* 要素の中央揃え */
  padding: 90px 0;
}

#portfolio-contents {
  width: 920px;
  height: 510px;
  display: flex;
  flex-wrap: wrap;
}

.portfolio-box {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.portfolio-box:nth-child(1) {
  background-image: url(img/sketch.jpg);
  margin-right: 10px;
  margin-bottom: 10px;
}

.portfolio-box:nth-child(2) {
  background-image: url(img/websuku.png);
  margin-right: 10px;
  margin-bottom: 10px;
}

.portfolio-box:nth-child(3) {
  background-image: url(img/write.jpg);
  margin-bottom: 10px;
}

.portfolio-box:nth-child(4) {
  background-image: url(img/webcamp.png);
  margin-right: 10px;
}

.portfolio-box:nth-child(5) {
  background-image: url(img/talk.jpg);
  margin-right: 10px;
}

.portfolio-box:nth-child(6) {
  background-image: url(img/webcamp-mother.png);
}

/*---feature---*/

#feature {
  width: 980px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 90px 0;
}

#feature-contents {
  width: 980px;
  display: flex;
}

.feature-box {
  width: 320px;
  height: auto;
  margin-right: 10px;
  text-align: center;
}

.feature-box:nth-last-child() {
  margin-right: 0;
}

.strength-contents {
  text-align: left;
}

/*---profile---*/

#profile {
  width: 1024px;
  display: flex;
  justify-content: center; /* 要素の横並び・中央寄せ */
  margin: 0 auto; /* 要素の中央揃え */
  padding: 90px 0;
}

#profile-contents {
  width: 1024px;
  height: auto;
  margin-bottom: 90px;
}

.strength {
  font-size: 20px;
  margin: 10px;
}

/*---contact---*/

#contact {
  width: 800px;
  display: flex;
  justify-content: center; /* 要素の横並び・中央寄せ */
  margin: 0 auto; /* 要素の中央揃え */
  padding: 90px 0;
}

#contact-contents {
  width: 800px;
  height: auto;
  margin-bottom: 90px;
}

/*---footer---*/

footer {
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background-color: #ec715f;
}

.footer-text {
  font-size: 16px;
  color: white;
}
