* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fafafa;
  font-family: serif;
}

a {
  text-decoration: none;
}

header {
  background-color: #ec715f;
  width: 100%;
  height: 70px;
  text-align: center;
}

.header_flex {
  display: flex;
  text-align: center;
  width: 1024px;
  height: 70px;
  line-height: 70px;
  margin: 0 auto;
}

.logo_img {
  display: flex;
  width: auto;
  height: 70px;
}

nav {
  text-align: center;
  width: 1024px;
  height: 70px;
  line-height: 70px;
  margin: 0 auto;
}

.nav-list {
  line-height: 70px;
  text-align: right;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  font-size: 16px;
  margin: auto 30px;
}

footer {
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background-color: #ec715f;
}

.footer-text {
  font-size: 16px;
}
