* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fafafa;
  font-family: serif;
}

a {
  text-decoration: none;
}

header {
  background-color: #ec715f;
  width: 100%;
  height: 70px;
}

.nav-list {
  text-align: center;
  font-size: 16px;
  padding: 10px 0;
  margin: 0 auto;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 30px;
}

img {
  width: 30%;
  height: auto;
}

#home {
  width: ;
}

footer {
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: #ec715f;
}

.footer-text {
  font-size: 16px;
}
